
li:hover {
    background-color: #77d5f1;
}

body {
    height: 100vh;
    background-color: #a9aaac;
    color: rgb(5, 3, 3);
}
.cont{
    width: 100%;
    display: flex;
    max-width: 1100px;
 
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);

}
.card .contenido{
    text-align: center;
}
